/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
 
}

/* Header */
header {
    background-color: #6200ea;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* URL Generated Section */
.url-generated {
    background-color: #e3f2fd;
    color: #0277bd;
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
    border: 1px solid #bbdefb;
    border-radius: 5px;
    width: 80%;
    font-size: 1rem;
}

/* Form Styles */
.form-container {
    max-width: 500px;
    margin: 2rem auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}

form input[type="text"] {
    width: 70%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 0.5rem;
}

form button {
    background-color: #6200ea;
    color: white;
    justify-content: center;
align-items: center;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #3700b3;
}

/* Table Styles */
.table-container {
    max-width: 800px;
    margin: 2rem auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}

table thead {

    background-color: #6200ea;
    color: white;
    text-align: left;
}

table th,
table td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: #f4f4f9;
}

table a {
    color: #0277bd;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    form input[type="text"], form button {
        font-size: 0.9rem;
    }

    table th, table td {
        padding: 0.75rem;
    }

    .url-generated {
        font-size: 0.9rem;
    }
}
